@font-face {
    font-family: Cabin;
    src: url(../ttf/Cabin.ttf);
}
@font-face {
    font-family: Poppins-Regular;
    src: url(../ttf/Poppins-Light.ttf);
}
body{
    margin: 0;
    background-color: rgba(255, 251, 243, 0.87);
    font-family: Poppins-Regular, sans-serif;
}
.container{
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
}
.flex-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(45, 45, 45, 0.80);
}
.header{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Cabin, sans-serif;
    font-weight: 500;
}
.header__logo a{
    font-size: 60px;
    color: rgba(240, 248, 255, 0.87);
    text-decoration: none;
}
a img{
    height: 100px;
}
.header__burger{
    color: rgba(240, 248, 255, 0.87);
    margin-right: 40px;
    font-size:50px;
    cursor:pointer;
    display: none;
}
ul{
    display: flex;
    list-style: none;
}
li a {
    margin: 0 10px;
    font-size: 22px;
    color: rgba(240, 248, 255, 0.87);
    text-decoration: none;
    padding: 5px 10px;
}
.header__button:hover{
    box-shadow: -1px 2px 12px 0 rgb(173, 121, 76);
    border-radius: 10px;
    transition: 0.3s;
    color: rgba(255, 251, 243, 0.87);
}
.main-image{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 600px;
    background-image: url(../img/main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-image__text{
    font-family: Cabin, sans-serif;
    color: rgba(255, 251, 243, 0.87);
    background-color: rgba(45, 45, 45, 0.71);
    padding: 10px;
    border-radius: 10px;
    max-width: 500px;
    min-width: 220px;
}
.main-image__text div:first-child{
    padding: 10px 0;
    font-size: 40px;
}
.main-image__text div:last-child{
    padding: 10px 0;
    font-size: 20px;
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: rgba(21, 21, 21, 0.95); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #dbdbdb;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: rgba(255, 251, 243, 0.87);
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    transition: 0.3s;
}
#main {
    transition: 0.5s;
}
.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
}
.main-content__block{
    width: 320px;
    height: 400px;
    padding: 7px;
    border: 1px solid black;
    margin: 5px;
}
.main-content__block:hover{
    box-shadow: 2px 6px 67px -16px rgba(0,0,0,0.75);
    transition: 0.5s;
}
.footer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
    padding-top: 5px;
    font-family: Cabin, sans-serif;
    opacity: 70%;
    font-size: 12px;
}
.footer-top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.footer-top div{
    min-width: 350px;
    padding: 10px 0;
    text-align: center;
}
.footer-top__logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-top__logo a{
    display: inline-block;
    background-image: url(../img/sprite.png);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 5px;
    background-repeat: no-repeat;
}
.footer-top__icon-1{
    background-position: -3px -55px;
}
.footer-top__icon-2{
    background-position: -53px -55px;
}
.footer-top__icon-3{
    background-position: -103px -55px;
}
.footer-top__icon-4{
    background-position: -147px -55px;
}
.footer-top__icon-5{
    background-position: -197px -55px;
}
.footer-top__icon-1:hover{
    background-position: -3px -5px;
}
.footer-top__icon-2:hover{
    background-position: -53px -5px;
}
.footer-top__icon-3:hover{
    background-position: -103px -5px;
}
.footer-top__icon-4:hover{
    background-position: -147px -5px;
}
.footer-top__icon-5:hover{
    background-position: -197px -5px;
}
.footer-bottom{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.footer-bottom div{
    text-align: center;
    padding: 10px 0;
    min-width: 350px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
@media (max-width: 1320px){
    .main-image{
        background-image: url(../img/main_small.jpg);
    }
    .container{
        width: 1080px;
    }
}
@media (max-width: 1081px){
    .container{
        width: 800px;
    }
    .main-image__text{
        margin: 0 20px;
    }
}
@media (max-width: 970px) {
    .header__block-button{
        display: none;
    }
    .header__burger{
        display: block;
    }
    .header__logo{
        text-indent: 20px;
    }
    .main-image__text div:first-child{
        padding: 10px 0;
        font-size: 30px;
    }
    .main-image__text div:last-child{
        padding: 10px 0;
        font-size: 15px;
    }
    .footer-top{
        justify-content: center;
    }
    .footer-bottom{
        justify-content: center;
    }
}