@font-face {
    font-family: Cabin;
    src: url(../ttf/Cabin.ttf);
}
@font-face {
    font-family: Poppins-Regular;
    src: url(../ttf/Poppins-Light.ttf);
}
body{
    margin: 0;
    background-color: #fffbf4;
    font-family: Poppins-Regular, sans-serif;
}
.container{
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
}
.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(45, 45, 45, 0.80);
    z-index: 3;
}
.header{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Cabin, sans-serif;
    font-weight: 500;
}
.header__logo a{
    font-size: 60px;
    color: rgba(240, 248, 255, 0.87);
    text-decoration: none;
}
a img{
    height: 100px;
}
.header__burger{
    color: rgba(240, 248, 255, 0.87);
    margin-right: 40px;
    font-size:50px;
    cursor:pointer;
    display: none;
}
ul{
    display: flex;
    list-style: none;
    margin-bottom: 0;
}
li a {
    margin: 0 10px;
    font-size: 22px;
    color: rgba(240, 248, 255, 0.87);
    text-decoration: none;
    padding: 5px 10px;
}
.header__button:hover{
    box-shadow: -1px 2px 12px 0 rgb(173, 121, 76);
    border-radius: 10px;
    transition: 0.3s;
    color: rgba(255, 251, 243, 0.87);
    text-decoration: none;
}
.content{

}
.btn{
    position: absolute;
    z-index: 15;
    top: -37px;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(45, 45, 45, 0.80);
    color: white;
    font-size: 28px;
    padding: 12px 55px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.btn:hover{
    color: #ffefbe;
    background-color: #2d2d2d;
    transition: 0.3s;
}
.w-100{
    width: 100%;
}
.d-block{
    min-height: 100vh
}
.d-md-block{
    background-color: rgba(45, 45, 45, 0.30);
    border-radius: 10px;
}
.carousel-caption{
    left: 30%;
    right: 30%;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    background-color: rgba(21, 21, 21, 0.95);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #dbdbdb;
    display: block;
    text-align: center;
    transition: 0.3s;
}
.sidenav a:hover {
    color: rgba(255, 251, 243, 0.87);
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    transition: 0.3s;
    z-index: 4;
}
#main {
    transition: 0.5s;
}
.carousel-item{
    height: 100vh;
}
.main-content-about{
    width: 100%;
}
.main-content-about-content{
    width: 47%;
    margin: 5px;
    border: 1px solid #7a7a7a;
    min-width: 320px;
    padding: 12px;
    font-size: 24px;
    box-shadow: -1px 1px 29px -5px rgb(140, 117, 85);
    border-radius: 5px;
    background-color: #f8f5f3;
    position: relative;
}
.overlay {
    position: absolute;
    bottom: 10px;
    left: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
}
.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
}
.main-content__block{
    position: relative;
    display: flex;
    align-items: center;
    min-width: 280px;
    max-width: 400px;
    height: 400px;
    padding: 7px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: 5px;
}
.main-content__block img{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.main-content__block:hover img{
    opacity: 0.7;
}
.main-content__block:hover div{
    transition: 0.5s;
    opacity: 1;
}
.button-contain{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.main-content__block:hover{
    box-shadow: 2px 6px 67px -16px rgba(0,0,0,0.75);
    transition: 0.5s;
}
.footer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
    padding-top: 5px;
    font-family: Cabin, sans-serif;
    opacity: 80%;
    font-size: 12px;
    position: relative;
    bottom: 0;
}
.footer-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    font-size: 22px;
}
.footer-top div{
    min-width: 350px;
    padding: 10px 0;
    text-align: center;
}
.footer-top__logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-top__logo a{
    display: inline-block;
    background-image: url(../img/sprite.png);
    width: 37px;
    height: 37px;
    border-radius: 50%;
    margin: 0 5px;
    background-repeat: no-repeat;
}
.footer-top__icon-1{
    background-position: -4px -57px;
}
.footer-top__icon-2{
    background-position: -55px -57px;
}
.footer-top__icon-3{
    background-position: -102px -57px;
}
.footer-top__icon-4{
    background-position: -150px -57px;
}
.footer-top__icon-5{
    background-position: -198px -56px;
}
.footer-top__icon-1:hover{
    background-position: -4px -7px;
}
.footer-top__icon-2:hover{
    background-position: -55px -7px;
}
.footer-top__icon-3:hover{
    background-position: -102px -7px;
}
.footer-top__icon-4:hover{
    background-position: -150px -7px;
}
.footer-top__icon-5:hover{
    background-position: -198px -6px;
}
.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.footer-bottom div{
    text-align: center;
    padding: 10px 0;
    min-width: 300px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
@media (max-width: 1320px){
    .main-image{
        background-image: url(../img/main_small.jpg);
    }
    .container{
        width: 1080px;
    }
}
@media (max-width: 1081px){
    .container{
        width: 800px;
    }
    .main-image__text{
        margin: 0 20px;
    }
}
@media (max-width: 970px) {
    .header__block-button{
        display: none;
    }
    .header__burger{
        display: block;
    }
    .header__logo{
        text-indent: 20px;
    }
    .main-image__text div:first-child{
        padding: 10px 0;
        font-size: 30px;
    }
    .main-image__text div:last-child{
        padding: 10px 0;
        font-size: 15px;
    }
    .footer-top{
        justify-content: center;
    }
    .footer-bottom{
        justify-content: center;
    }
    .main-content-about-content{
        width: 85%;
    }
}
@media (max-width: 350px){
    .main-image{
        min-width: 350px;
    }
    .main-content{
        min-width: 350px;
    }
}