    header{
        background-color: #353535;
        height: 60px;
        display: flex;
        align-items: center
    }
    .header_button_first{
        padding: 0 40px;
    }
    .header_button{
        padding-left: 30px;
    }
    .header_link{
        color: #c2c2c2;
        font-size: 20px;
        text-decoration: none;
    }
    .home_text{
        color: #c1bdc0;
        font-size: 90px;
        font-weight: 900;
        padding-left: 100px;
        min-width: 300px;
        max-width: 400px
    }
    main{
        background-color: #e8e8e8;
        min-height: calc(100vh - 100px);
        width: 100%;
    }
    h2{
        text-align:center;
        text-transform: uppercase;
    }
    td{
        padding: 7px;
    }
    .button_category {
        float: left;
        background-color: #ffffff;
        color: #2f86c1;
        margin: 8px;
        padding: 10px;
        width: 22%;
        height: 40px;
        font-weight: 900;
        font-size: 14px;
        line-height: 40px;
        min-width: 250px;
    }
    .button_category:hover {
        cursor: pointer;
        box-shadow:-2px 6px 9px 0px rgb(122, 122, 122);
        -webkit-box-shadow:-2px 6px 9px 0px rgba(122,122,122,1);
        -moz-box-shadow:-2px 6px 9px 0px rgba(122,122,122,1);
        transition: 0.5s;
        text-decoration: underline;
    }
    .button_green{
        text-align:center;
        background-color:#a3c644;
        margin:5px 20px 5px 20px;
        padding-top:7px;
        padding-bottom:7.3px;
        border-radius:3px;
        color:#ffffff;
        font-size:13px;
        letter-spacing:1px;
        font-weight:500;
        border-bottom:1.3px solid #89a73b;
    }
    .button_green:hover{
        background-color: #8caa3c;
        cursor: pointer;
        transition: 0.5s;
    }
    .button_white{
        text-align: center;
        margin: 5px 20px 5px 20px;
        padding-top: 7px;
        padding-bottom: 7px;
        border: 1px solid #2f86c1;
        border-radius: 3px;
        color: #2f86c1;
        font-size: 13px;
        font-weight: 600;
        cursor: pointer;
    }
    .button_white:hover{
        color: #2971a1;
        background-color: #f3f3f3;
        border-bottom: 1.3px solid #2f86c1;
        padding-bottom: 6.7px;
        transition: 0.5s;
    }
    .name_courses{
        color: #2a8bd7;
        font-size: 16px;
        cursor: pointer;
    }
    .name_courses:hover{
        color: #0d64a3;
    }